table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin-left: 5%;
}

thead {
  background-color: #e3e1e1;
  font-weight: bold;
}

th,
td {
  padding: 50px;
  text-align: right;
}

th:first-child,
td:first-child {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #9f9fa0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #09090d;
  padding: 1px;
}
